body {
  margin: 70px auto;
  font-family: "Open Sans", sans-serif;
  background: #dde8f8;
}
.weather-app {
  margin: 0px auto;
  width: 1000px;
}
.card {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 8%);
  border-radius: 35px;
  background: #ffffff;
}
h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
#city-name-element {
  font-size: 35px;
}
.calender-day {
  text-align: right;
}
.day-and-time {
  font-weight: 200;
  font-size: 25px;
}
.big-circle,
.little-circles {
  border-radius: 24px;
  text-align: center;
}
.big-circle {
  /* border: 1px solid; */
  display: flex;
  height: 260px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 35px;
  width: 370px;
}
.little-circles {
  border: solid 1px #ffffff;
  /* #f8f9fa; */
  height: 165px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  width: 150px;
  transition: all 150ms ease-in-out;
  /* box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 8%); */
}
.little-circles:hover {
  border: solid 1px #f8f9fa;
  border-color: #dde8f8;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 8%);
}
.inner-circle {
  width: 170px;
}
.left-side {
  padding-right: 0px;
}
.today-weather-description {
  font-size: 25px;
  font-family: "Work Sans", sans-serif;
  font-weight: 550;
}
.today-weather-description:first-letter {
  text-transform: capitalize;
}
.forecast-temperature {
  color: #11324d;
  font-weight: 600;
}
.high {
  color: #11324d;
  font-weight: 600;
}
.right-side {
  padding-left: 0px;
}
h2 {
  margin-bottom: 0;
  margin-top: 30px;
}
#current-temperature {
  font-size: 52px;
  vertical-align: top;
}
.cf-symbol {
  font-size: 22px;
}
.cf-symbol a {
  color: #007cb9;
  padding: 0;
  text-decoration: none;
}
.cf-symbol .active {
  color: #c1cfc0;
  cursor: default;
}
.inner-circle ul {
  list-style-type: none;
  font-size: 14px;
  padding-top: 25px;
  color: #138bc787;
  padding-left: 30px;
  padding-top: 0;
  text-align: left;
}
.search-buttons-bar {
  line-height: 1.9;
}
.search-input-button {
  padding: 0;
}
.current-location-button,
.search-button {
  border-width: 1px;
  color: #ffffff;
  border-color: transparent;
  background-color: #0f83bdba;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  transition: all 100ms ease-in-out;
}
.current-location-button:hover,
.search-button:hover {
  border-radius: 0;
}
.five-day-forecast {
  font-size: 15px;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 40px;
}
.day {
  font-size: 17px;
  font-weight: bold;
}

.forecast-description:first-letter {
  text-transform: capitalize;
}
