.weather-app {
  margin: 0px auto;
  width: 1100px;
}
.card {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 8%);
  border-radius: 20px;
}
body {
  margin: 70px auto;
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  font-weight: 600;
}
.calender-day {
  text-align: right;
}
.day-and-time {
  font-weight: 200;
}
.big-circle {
  border: 3px solid;
  border-color: #ff895d;
  border-radius: 50%;
  display: flex;
  height: 260px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  text-align: center;
  width: 330px;
}
.inner-circle {
  width: 150px;
  height: 180px;
}
.today-weather-description {
  font-size: 20px;
}
.today-weather-description:first-letter {
  text-transform: capitalize;
}
.low {
  color: #007cb9;
}
.high {
  color: #ff895d;
}
.right-side {
  padding-left: 0;
}
h2 {
  margin-bottom: 0;
  margin-top: 20px;
}
#current-temperature {
  font-size: 52px;
  vertical-align: top;
}
.cf-symbol {
  font-size: 22px;
}
.cf-symbol a {
  color: #007cb9;
  padding: 0;
  text-decoration: none;
}
.cf-symbol .active {
  color: gray;
}
ul {
  list-style-type: none;
  font-size: 14px;
  padding-top: 25px;
  color: grey;
  padding-left: 30px;
  padding-top: 0;
  text-align: left;
}
.search-buttons-bar {
  line-height: 1.9;
}
.search-input-button {
  padding: 0;
}
.current-location-button,
.search-button {
  border-width: 1px;
  color: #ffffff;
  border-color: transparent;
  background-color: #ffacac;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  transition: all 100ms ease-in-out;
}
.current-location-button:hover,
.search-button:hover {
  border-radius: 0;
}
.five-day-forecast {
  font-size: 15px;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-top: 40px;
}
.little-circles {
  border: 2px solid;
  border-color: #ff895d;
  border-radius: 50%;
  height: 150px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  text-align: center;
  width: 150px;
}
.day {
  font-size: 17px;
  font-weight: bold;
}

.forecast-description:first-letter {
  text-transform: capitalize;
}
